<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet">
</head>
<body>

{% include "menu/navbar.html" %}

<div class="container mt-2">

<h2 class="mb-4">
    Admin Dashboard
</h2>

<h2>Recent Orders</h2>

<table class="table table-striped">

<thead>
<tr>
    <th>ID</th>
    <th>Customer</th>
    <th>Total</th>
    <th>Status</th>
    <th>Date</th>
    <th>Action</th>
</tr>
</thead>

<tbody>

{% for order in recent_orders %}

<tr>

<td>
{{ order.id }}
</td>

<td>
{{ order.user.username }}
</td>

<td>
₹ {{ order.total_price }}
</td>

<td>

{% if order.status == "Pending" %}
<span class="badge bg-warning text-dark">
    Pending
</span>

{% elif order.status == "Preparing" %}
<span class="badge bg-info">
    Preparing
</span>

{% elif order.status == "Out for Delivery" %}
<span class="badge bg-primary">
    Out for Delivery
</span>

{% elif order.status == "Delivered" %}
<span class="badge bg-success">
    Delivered
</span>

{% elif order.status == "Cancelled" %}
<span class="badge bg-danger">
    Cancelled
</span>

{% endif %}

</td>

<td>
{{ order.created_at }}
</td>

<td>

<a href="{% url 'order_detail' order.id %}"
   class="btn btn-sm btn-primary">
   View
</a>

</td>

</tr>
{% empty %}

<tr>
<td colspan="6">
No orders found
</td>
</tr>

{% endfor %}

</tbody>
</table>
<br>
<div class="row">

        <!-- Today's Orders -->

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Today's Orders</h5>
                <h3>{{ today_orders }}</h3>
            </div>
        </div>
    </div>

    <!-- Total Orders -->
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Total Orders</h5>
                <h3>{{ total_orders }}</h3>
            </div>
        </div>
    </div>

    <!-- Total Revenue -->
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Total Revenue</h5>
                <h3>₹{{ total_revenue }}</h3>
            </div>
        </div>
    </div>

    <!-- Pending Orders -->
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Pending Orders</h5>
                <h3>{{ pending_orders }}</h3>
            </div>
        </div>
    </div>

    <!-- Completed Orders -->
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5>Completed Orders</h5>
                <h3>{{ completed_orders }}</h3>
            </div>
        </div>
    </div>

</div>

</div>

<br>

<h2></h2>
<h3 class="text-center">Revenue per Day</h3>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="
    width: 500px;
    height: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;">
    <canvas id="revenueChart"></canvas>
</div>

<script>

const revenueDates = {{ revenue_dates|safe }};
const revenueTotals = {{ revenue_totals|safe }};

console.log("Revenue Dates:", revenueDates);
console.log("Revenue Totals:", revenueTotals);

const ctx = document
    .getElementById("revenueChart")
    .getContext("2d");

new Chart(ctx, {
    type: "line",
    data: {
        labels: revenueDates,
        datasets: [{
            label: "Revenue per Day",
            data: revenueTotals,
            borderWidth: 2,
            tension: 0.3
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});

</script>


<h3 class="text-center">Top Selling Items</h3>

<div class="row justify-content-center">
    <div class="col-md-6">

        <div style="
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 40px;">

            <table class="table table-bordered table-striped text-center">

                <thead class="table-dark">
                    <tr>
                        <th>Food Item</th>
                        <th>Total Quantity Sold</th>
                    </tr>
                </thead>

                <tbody>

                {% for item in top_items %}

                    <tr>
                        <td>{{ item.food__name }}</td>
                        <td>{{ item.total_sold }}</td>
                    </tr>

                {% empty %}

                    <tr>
                        <td colspan="2">
                            No sales data available
                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>
</div>

<br>

<h3 class="text-center">Orders Per Day</h3>

<div class="row justify-content-center">
    <div class="col-md-6">

        <div style="
            height: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 40px;">

            <canvas id="ordersChart"></canvas>

        </div>

    </div>
</div>

<script>

const orderDates = {{ order_dates|safe }};
const orderCounts = {{ order_counts|safe }};

console.log("Order Dates:", orderDates);
console.log("Order Counts:", orderCounts);

const ctx1 = document
    .getElementById("ordersChart")
    .getContext("2d");

new Chart(ctx1, {
    type: "bar",
    data: {
        labels: orderDates,
        datasets: [{
            label: "Orders per Day",
            data: orderCounts,
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});

</script>
<br>

<h3 class="text-center">Order Status Distribution</h3>

<div class="row justify-content-center">
    <div class="col-md-5">

        <div style="
            height: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-bottom: 40px;">

            <canvas id="statusChart"></canvas>

        </div>

    </div>
</div>

<script>

const statusLabels = {{ status_labels|safe }};
const statusCounts = {{ status_counts|safe }};

const ctx2 = document
    .getElementById("statusChart")
    .getContext("2d");

new Chart(ctx2, {
    type: "pie",
    data: {
        labels: statusLabels,
        datasets: [{
            data: statusCounts
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false
    }
});

</script>
<br>
<br>


<br>
<br>

<a href="{% url 'export_orders_csv' %}" class="btn btn-success" >
    <h2 class="text-center">Export Orders to CSV</h2>
</a>

<br>
<br>

<a href="/admin/">
    Go to Admin Panel
</a>
<br><br>
<a href="/menu/">
    Back to Menu
</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>